#spacer {
    background-color: rgb(224,224,224);
    min-height: 100px;
    padding-top: 20px;
    font-size: 25px;
    margin-bottom: 15px;
    text-align: center;
}

#title {
    text-align: left;
}

.author-date li {
    display: inline;
    font-size: 15px;
}

ul {
    padding: 0;
    list-style-type: none;
}

#content {
    text-align: center;
    width: 1000px;
    margin: auto;
}

#content img {
    width: 600px;
    margin: auto;
}

#placeholder {
    width: 1000px;
    height: 450px;
    display: block;
    margin-bottom: 15px;
}

.paragraphs {
    border-bottom: 1px solid rgb(224,224,224);
}
.writing {
    font-size: 15px;
    text-align: left;
    margin-bottom: 15px;
}

img {
    padding: 20px;
}