#articles {
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
    padding-bottom: 15px;
    justify-content: center; 
    border-bottom: 1px solid rgb(224,224,224);
}

.article-card {
  background-color: rgb(143, 143, 143);
  padding: 10px;
  margin: 10px;
  flex: 1 1 30%;
  min-width: 320px;
}

.article-card img {
  max-width: 100%;
}

.article-card a {
  text-decoration: none;
  color: black;
}

.article-card a:hover {
  text-decoration: underline;
}

.author-date li {
  display: inline;
}

ul {
  padding: 0;
  list-style-type: none;
}

#countries {
  padding-bottom: 15px;
  border-bottom: 1px solid rgb(224,224,224);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

h1 {
  text-align: center;
  margin-bottom: 15px;
}

.flags-card {
  background-color: rgb(143, 143, 143);
  padding: 10px;
  margin: 10px;
  text-align: center;
  flex: 1 1 30%;
  min-width: 320px;
  max-width: 370px; 
}

.flags-card img {
  max-width: 100%;
}

.flags-card a {
  text-decoration: none;
  color: black;
}

.flags-card a:hover {
  text-decoration: underline;
}

h3 {
  background-color: rgb(224,224,224);
  min-height: 100px;
  padding-top: 20px;
  margin-bottom: 15px;
  text-align: center;
}